alembic
aniso8601
asttokens
attrs
backcall
bcrypt
blinker
click
decorator
exceptiongroup
executing
Faker
Flask==2.2.5
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy==3.0.2
greenlet
importlib-metadata
importlib-resources
iniconfig
ipdb
ipython
itsdangerous
jedi
Jinja2
Mako
MarkupSafe
matplotlib-inline
packaging
parso
pexpect
pickleshare
pluggy
prompt-toolkit
ptyprocess
pure-eval
py
Pygments
PyJWT
pytest
python-dateutil
pytz
six
SQLAlchemy
SQLAlchemy-serializer
stack-data
toml
tomli
traitlets
typing_extensions
validate-email-addres
wcwidth
Werkzeug
zipp
