-i https://pypi.org/simple
alembic
aniso8601
asttokens
attrs
bcrypt
blinker
click
decorator
exceptiongroup
executing
faker
flask==2.2.5
flask-bcrypt
flask-cors
flask-jwt-extended
flask-login
flask-migrate
flask-restful
flask-sqlalchemy==3.0.3
greenlet
gunicorn
importlib-metadata
importlib-resources
iniconfig
ipdb
ipython
itsdangerous
jedi
jinja2
mako
markupsafe
matplotlib-inline
packaging
parso
pexpect
pluggy
prompt-toolkit
psycopg2-binary
ptyprocess
pure-eval
py
pygments
pyjwt
pytest
python-dateutil
pytz
setuptools
six
sqlalchemy
sqlalchemy-serializer
stack-data
toml
tomli
traitlets
typing-extensions
validate-email-address
validators
wcwidth
werkzeug
zipp
